<div class="row">
    <div class="well">
        <div class="table-responsive">
            <table id="myTable" class="tablesorter table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Format</th>
                    <th>Movie Length</th>
                    <th>Year Released</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <% @movies.each do |movie| %>    
                    <tr>
                        <td><%= movie.title %></td> 
                        <td><%= movie.format %></td>
                        <td><%= (movie.length.to_i / 60) %>h <%=(movie.length.to_i % 60) %>m </td>
                        <td><%= movie.release_year %></td>
                        <td>
                            <%= movie.rating %>
                            <% if movie.rating == 1 %> Walther PPK
                            <% elsif movie.rating == 2 %> Oddjob Flying Hats
                            <% elsif movie.rating == 3 %> Shoe Phones
                            <% elsif movie.rating == 4 %> Laser Rolexes
                            <% else %> Golden Guns
                            <% end %>
                        </td>
                        <td><%= link_to 'Show', movie_path(movie), class: 'btn btn-default' %></td>
                    </tr>
                <% end %>
            </table>
        </div>
            <% if user_signed_in? %>
              <%= link_to 'New Movie', new_movie_path, class: "btn btn-success" %>
            <% end %>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#myTable").tablesorter();
  });
</script>

