<div class="row">
    <div class="table">
        <table id="myTable" class="tablesorter table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Format</th>
                <th>Movie Length</th>
                <th>Year Released</th>
                <th>Rating</th>
            </tr>
            </thead>
                <% @movies.each do |movie| %>    
                    <tr>
                        <td><%= movie.title %></td> 
                        <td><%= movie.format %></td>
                        <td><%= movie.length %></td>
                        <td><%= movie.release_year %></td>
                        <td><%= movie.rating %></td>
                        <td><%= link_to 'Show', movie_path(movie) %></td>
                    </tr>
                <% end %>
        </table>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function()
  {
    $("#myTable").tablesorter();
  });
</script>

