<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <div class="text-center">
        
        <strong>Movie Title: </strong><%= @movie.title %><br />
        <strong>Movie Format: </strong><%= @movie.format %><br />
        <strong>Movie Length: </strong><%= @movie.length %><br />
        <strong>Released in: </strong><%= @movie.release_year %><br />
        <strong>My Rating: </strong><%= @movie.rating %><br />
    
  <%= link_to "Update this Movie", edit_movie_path(@movie), class: 'btn btn-default' %>
  <%= button_to "Delete", movie_path(@movie), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %>
  
      </div>    
    </div>
  </div>
</div>
